/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/form/primaryInput.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.primary-input > *:first-child,
.primary-select > div > div {
  border: 1px solid #d6d6d6;
  /* background-color: rgb(162, 201, 162) !important; */
  background-color: #ffffff !important;
  border-radius: 8px;
  height: 64px;
}

.primary-input > *:first-child {
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 768px) {
  .primary-input > *:first-child,
  .primary-select > div > div {
    height: 56px;
  }
}
/* #custom-textarea {
  height: auto !important;
} */
#custom-textarea,
textarea#custom-textarea {
  height: auto !important;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/layouts/footer/footer.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.footer-form .form-component > * {
  border-radius: 8px 0 0 8px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/ui/faq/faq.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.faq {
  padding: 0;
}
.faq button {
  padding: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/layouts/navbar/navbar.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.custom-navbar header {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0;
  height: 100px;
}
@media only screen and (max-width: 1024px) {
  .custom-navbar header {
    height: 64px;
  }
}

